.container {
  width: 50%;
  padding-left: calc(20px + (147 - 20) * ((100vw - 375px) / (1250 - 375)));
  height: 100%;
  display: flex;
  flex-direction: column;
}

.layoutContent {
  margin-top: 80px;
}

.greetingContainer {
  display: flex;
  align-items: center;
  column-gap: 2px;
  margin-bottom: 10px;

  .greetingTitle {
    font-size: 38px;
    font-weight: 500;
    margin: 0;
    color: var(--primary-text-color)
  }
}

.subGreeting {
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 60px;
  color: var(--secondary-text-color)
}


.cardsTitle {
  margin-bottom: 20px;
  color: var(--primary-text-color);
  font-size: 20px;
}

.cardsContainer {
  display: flex;
  column-gap: 16px;

  .cardContent {
    transition: all .3s ease;

    &:hover {
      transition: all .3s ease;

      .cardImageContainer {
        border: 4px solid #FFF;
      }

      .cardButton {
        background-color: var(--primary-color-200);
      }

      .activeCardButton {
        background-color: var(--primary-color);
      }
    }

    .cardImageContainer {
      transition: all .3s ease;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 138px;
      height: 198px;
      border-radius: 20px;
      border: 4px solid rgba(255, 255, 255, 0.60);
      margin-bottom: 10px;
    }

    .cardButton {
      transition: all .3s ease;
      display: flex;
      justify-content: center;
      border-radius: 10px;
      color: var(--primary-color);
      border: none;
      width: 100%;
      max-width: 100%;
      word-break: break-all;
      padding: 10px 0;
      font-size: 12px;
      font-weight: 500;
      cursor: pointer;
    }

    @media screen and (min-width: 1441px) {
      .cardImageContainer {
        width: 180px;
        height: 240px;
      }
      .cardButton {
        font-size: 16px;
      }
    }

    .activeCardImageContainer {
      transition: all .3s ease;
      border: 4px solid #FBE0DC;
    }

    .activeCardButton {
      transition: all .3s ease;
      background-color: var(--primary-color);
      color: #fff;

      &:hover {
        transition: all .3s ease;
        background-color: var(--primary-color);
      }
    }
  }
}
