.container {
  width: 50%;
  padding-left: calc(20px + (147 - 20) * ((100vw - 375px) / (1250 - 375)));
  height: 100%;
  display: flex;
  flex-direction: column;
}

.layoutContent {
  margin-top: 80px;
}

.greetingContainer {
  display: flex;
  align-items: center;
  column-gap: 2px;
  margin-bottom: 10px;

  .greetingTitle {
    font-size: 38px;
    font-weight: 500;
    margin: 0;
    color: var(--primary-text-color)
  }
}

.subGreeting {
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 60px;
  color: var( --secondary-text-color)
}


.cardsTitle {
  margin-bottom: 20px;
  color: var(--primary-text-color)
}

.cardsContainer{
  display: flex;
  column-gap: 16px;

  .cardImageContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 138px;
    height: 198px;
    border-radius: 20px;
    border: 4px solid rgba(255, 255, 255, 0.60);
    margin-bottom: 10px;
  }

  .cardButton {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    background: var();
    border: none;
    width: 100%;
    max-width: 138px;
    word-break: break-all;
    padding: 10px 0;
    cursor: pointer;
  }
}
