.breedSliderContainer {
  width: 100%;
  position: relative;
  z-index: 1;
  min-height: calc(350px + 20px);
  margin-bottom: 15px;
  .breedSlide {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 20px;
    z-index: 1;
  }
  .breedSlideBtns{
    position: absolute;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
    column-gap: 5px;
    bottom: 0px;
    z-index: 2;
    min-width: 90px;
    min-height: 40px;
    justify-content: center;
    align-items: center;
    background: var(--background-primary);
    border-radius: 20px;
    .breedSlideBtn{
      width: 10px;
      height: 10px;
      border-radius: 100%;
      z-index: 999;
      background-color: var(--background-primary-200);
    }
    .breedActiveSlideBtn{
      background: #FF868E;
    }
  }
}