.reactionHover {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 134, 142, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  opacity: 0;
  visibility: hidden;
  transition: all .3s ease;
  cursor: pointer;
}

.breedsHover {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: #97EAB9;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  opacity: 0;
  visibility: hidden;
  transition: all .3s ease;
  cursor: pointer;
}

.cardItem {
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 140px;
  border-radius: 20px;
}

@media screen and (min-width: 1980px) {
  .cardItem {
    min-height: 220px;
  }
}

.cardItem:hover {
  transition: all .3s ease;

  .reactionHover {
    opacity: 1;
    visibility: visible;
  }
}
