@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600&display=swap');
@import "normalize.css";

*,
*:after,
*:before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

:root {
	--background-static: #FF868E;
	--background-default: #FFFFFF;
}

:root[data-theme="light"] {
	--background-primary: #F8F8F7;
	--background-primary-200: #FBE0DC;
	--background-primary-100: #FFFFFF;
	--background-secondary: #fff;
	--background-secondary-200: #FBE0DC;
	--background-secondary-100: #F8F8F7;

	--text-primary: #1D1D1D;
	--text-secondary: #8C8C8C;
}

:root[data-theme="dark"] {
	--background-primary: #1D1D1D;
	--background-primary-100: #1D1D1D;
	--background-primary-200: rgba(255, 134, 142, 0.20);
	--background-secondary: rgba(255, 255, 255, 0.05);
	--background-secondary-200: rgba(255, 255, 255, 0.05);
	--background-secondary-100: rgba(255, 255, 255, 0.05);

	--text-primary: #FFFFFF;
	--text-secondary: #8C8C8C;
}

body {
	font-family: 'Jost', sans-serif;
	box-sizing: border-box;
	background-color: var(--background-primary);
	min-height: 100vh;
	transition: all .3s ease;
	overflow: hidden;
}

::-webkit-scrollbar {
	width: 3px;
	height: 3px;
}

::-webkit-scrollbar-thumb {
	background-color: var(--background-static);
	border-radius: 20px;
}

*::-webkit-scrollbar-track {
	display: none;
}

a {
	text-decoration: none;
	color: inherit;
}

ul, li {
	list-style-type: none;
}
