@import "@/styles/functions";

.logoContainer {
  display: flex;
  align-items: center;
  column-gap: 8px;
  cursor: pointer;

  .logoTitle {
    font-size: em(20px);
    font-weight: 600;
    color: var(--text-primary);
    transition: all .3s ease;
  }

  @media screen and (min-width: 1441px) {
    .logoTitle {
      font-size: em(25px);
    }
  }
}
