.button {
  background-color: var(--background-primary-200);
  min-width: 40px;
  min-height: 40px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: color .3s ease;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    transition: color .3s ease;
    background-color: var(--background-static);

    svg {
      fill: var(--background-default);
    }
  }
}
