.container {
  width: 100%;
  background-color: var(--background-secondary);
  border-radius: 20px;
  padding: 20px;

  .pageNavigate {
    display: flex;
    column-gap: 10px;
    margin-bottom: 20px;

    .sortIcon {
      border: 2px solid transparent;
      transition: border .3s;
      background-color: var(--background-primary);

      &:hover {
        svg {
          fill: var(--background-static);
        }

        border: 2px solid var(--background-static-200);
      }
    }
  }

  .scrollContainer {
    overflow-y: auto;
    width: 100%;
    max-height: calc(100vh - 230px);
    padding-right: 10px;
  }
}
