.container {
  width: 100%;
  background-color: var(--background-secondary);
  border-radius: 20px;
  padding: 20px;

  .pageNavigate {
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
    margin-bottom: 20px;

    .navigateButtonsContainer {
      display: flex;
      column-gap: 10px;
    }

    .sortIcon {
      border: 2px solid transparent;
      transition: border .3s;
      background-color: var(--background-primary);

      &:hover {
        svg {
          fill: var(--background-static);
        }

        border: 2px solid var(--background-static-200);
      }
    }

    .uploadButton {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      background-color: var(--background-static-200);
      padding: 12px 30px;
      font-weight: 500;
      color: var(--background-static);
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 14px;
      column-gap: 10px;

      span {
        display: flex;
        align-items: center;
      }

      svg {
      }
    }
  }

  .scrollContainer {
    overflow-y: auto;
    width: 100%;
    max-height: calc(100vh - 230px);
    padding-right: 10px;
  }
}
