.searchContainer {
  width: 80%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px 0 20px;
  border-radius: 20px;
  background-color: var(--background-secondary);
  border: 2px solid transparent;
  transition: all .3s ease;

  &:hover {
    border: 2px solid var(--background-primary-200);
    transition: all .3s ease;

    .iconContainer {
      background-color: var(--background-primary-200);
    }
  }

  .searchInput {
    outline: none;
    border: none;
    height: 60px;
    width: 80%;
    background: none;
    font-size: 20px;
    color: var(--text-primary);

    &::placeholder {
      color: var(--text-secondary);
      font-weight: 400;
    }
  }

  .iconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    background-color: var(--background-primary-200);
    transition: all .3s ease;
    cursor: pointer;

    &:hover {
      background-color: var(--background-static);
      transition: all .3s ease;

      svg {
        fill: var(--background-default);;
      }
    }
  }
}

.searchContainerFocus {
  border: 2px solid var(--background-static);

  &:hover {
    border: 2px solid var(--background-static);
  }
}
