.toggleSwitch {
  position: relative;
  width: 54px;
  height: 30px;

  .switchLabel {
    position: absolute;
    width: 100%;
    height: 30px;
    background-color: var(--primary-color-200);
    border-radius: 50px;
    cursor: pointer;

    .checkbox {
      position: absolute;
      display: none;

      &:checked ~ .slider {
        background-color: var(--primary-color-200);
      }
    }

    .slider {
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 25px;
      -webkit-transition: 0.3s;
      transition: 0.3s;

      &::before {
        content: "";
        position: absolute;
        top: 5px;
        right: 6px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: var(--primary-color);
        -webkit-transition: 0.3s;
        transition: 0.3s;
      }
    }

    .checkbox:checked ~ .slider::before {
      transform: translateX(-22px);
      background-color: var(--primary-color);
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }
}
