.navIconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 60px;
  height: 60px;
  border-radius: 20px;
  background-color: var(--background-secondary);
  transition: all .3s ease;

  &:hover {
    transition: color .3s ease;
    background-color: var(--background-primary-200);
  }

  .icon {
    & svg {
      display: flex;
      fill: var(--background-static);
    }
  }

  .iconActive {
    & svg {
      fill: var(--background-default);;
    }

  }
}

.navActiveIconContainer {
  background-color: var(--background-static);

  &:hover {
    background-color: var(--background-static);
  }
}
